<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.esquel.dininghall.usbnfc" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>DHPOSUsbNfcPlugin</name>
  <js-module name="DHPOSUsbNfcPlugin" src="www/DHPOSUsbNfcPlugin.js">
    <clobbers target="cordova.plugins.DHPOSUsbNfcPlugin" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="DHPOSUsbNfcPlugin">
        <param name="android-package" value="com.esquel.dininghall.usbnfc.DHPOSUsbNfcPlugin" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/DHPOSUsbNfcPlugin.java" target-dir="src/com/esquel/dininghall/usbnfc/DHPOSUsbNfcPlugin" />
    <source-file src="src/android/libs/armeabi/DasMifarecard.jar" target-dir="libs"/>
    <source-file src="src/android/libs/armeabi/dkusbnfc.jar" target-dir="libs"/>
  </platform>
</plugin>