page-home {
    .OrderList{
        filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
    .listitem{
        //border-bottom:1px solid #9c109c;
        box-shadow: 0 -2px 5px -1px #c7c7c7 inset; /*下边阴影*/
    }

    .scroll::-webkit-scrollbar {
        width: 1rem;
       }
        .scroll::-webkit-scrollbar-track {
        background-color:transparent;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius:2em;
        filter:Alpha(opacity=50);
       }
        .scroll::-webkit-scrollbar-thumb {
        background-color:rgba(248, 69, 69, 0.6);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius:2em;
       }
       .label-md {
        margin: 1px 8px 2px 0 !important;
      }
      .label-ios {
        margin: 1px 8px 2px 0 !important;
      }
      
}
