<ion-header>
  <ion-navbar>

    <ion-row>
      <ion-col text-left>
        <ion-title (click)="gotoSysSetting();">
          <ion-icon name="settings"></ion-icon> 设置
        </ion-title>

      </ion-col>
      <ion-col text-center>
        <ion-title>
          {{this.formValue["cantingName"]}} - {{this.formValue["machineName"]}} - {{curMealName}}
        </ion-title>
      </ion-col>
      <ion-col text-right>
        <ion-title>{{formValue["strTimeNowShow"]}}</ion-title>
      </ion-col>
    </ion-row>


  </ion-navbar>
</ion-header>

<ion-content class="bgimg2" text-center style="height:100%;">

    <ion-fab right top>
        <button ion-fab color="danger" style="font-size:2rem;">{{ this.formValue["unCooked"]}}</button>
      </ion-fab>
      <ion-fab right top style="margin-top:6rem;">
          <button ion-fab color="primary" style="font-size:2rem;">{{ this.formValue["Cooked"]}}</button>
        </ion-fab>

        <ion-card style="margin-top: 0rem;" *ngIf="formValue['lstOrder_Cooked'].length==0 && formValue['lstOreder_unCooked'].length==0">
          <ion-card-content text-center>
            <p style="color:gray;font-size: 6rem;font-weight: bold;">
              (暂无点餐记录)<br />
              {{this.formValue["strTimeNowShow"]}}
            </p>

          </ion-card-content>
        </ion-card>

  <ion-grid text-center style="height:99%;" class="shadow" *ngIf="formValue['lstOrder_Cooked'].length>0 ||  formValue['lstOreder_unCooked'].length>0" >
    <ion-row style="height:100%;">
      <ion-col style="height:100%;">

          

            <ion-list class="OrderList "  style="height:100%;overflow: hidden;">
              <ion-item text-center style="font-size: 2rem;" class="shadow" color="danger">
                      <ion-icon name="ios-phone-portrait" style="font-size: 2rem;"></ion-icon>
                      未出餐记录
                      <ion-note>(按支付时间升序)</ion-note>
              </ion-item>
              <div style="height:90%;overflow-y:scroll;" class="scroll">
              <ion-item class="listitem" *ngFor="let order of formValue['lstOreder_unCooked']" (click)="changeStaus(order.orderid,order.iscooked);">
                <h2><span style="color:gray;">{{order.payDate | moment: ['HH:mm']}}</span> &nbsp;&nbsp;
                  <ion-note color="secondary" *ngIf="order.IsPre=='1'">[预定]</ion-note>
                  <span style="font-size:2rem;font-family: TitleFont;">
                    {{order.usercode}} {{getUserCNname(order.username)}}
                  </span>
                </h2>
                <p>
                  <ion-note *ngFor='let pro of order.lstPro' [color]="order.iscooked==1?'primary':'danger'" class="shadow">
                   <span style="font-size:2rem;"> {{pro.proname}}</span> ×{{pro.objNum}}
                  </ion-note>
                </p>
                <button ion-button clear item-end [color]="order.iscooked==1?'primary':'danger'" style="font-size:1.6rem;">{{order.iscooked==1?'已':'未'}}出餐</button>
                <button ion-button clear item-end color='gray' icon-start><ion-icon name="ios-arrow-forward"></ion-icon></button>
              </ion-item>
            </div>
            </ion-list>
            
      </ion-col>



      <ion-col style="height:100%;">
        

        <ion-list class="OrderList "  style="height:100%;overflow: hidden;">
          <ion-item text-center style="font-size: 2rem;" class="shadow" color="primary">
                  <ion-icon name="md-list-box" style="font-size: 2rem;"></ion-icon>
                  已出餐记录
                  <ion-note>(按出餐时间倒序)</ion-note>
          </ion-item>
          <div style="height:90%;overflow-y:scroll;" class="scroll">
          <ion-item class="listitem" *ngFor="let order of formValue['lstOrder_Cooked']" (click)="changeStaus(order.orderid,order.iscooked);">
            <h2><span style="color:gray;">{{order.payDate | moment: ['HH:mm']}}</span> &nbsp;&nbsp;
              <ion-note color="secondary" *ngIf="order.IsPre=='1'">[预定]</ion-note>
              <span style="font-size:2rem;font-family: TitleFont;">{{order.usercode}} {{getUserCNname(order.username)}}</span>
            </h2>
            <p>
              <ion-note *ngFor='let pro of order.lstPro' [color]="order.iscooked==1?'primary':'danger'" class="shadow">
               <span style="font-size:2rem;"> {{pro.proname}}</span> ×{{pro.objNum}}
              </ion-note>
            </p>
            <button ion-button clear item-end [color]="order.iscooked==1?'primary':'danger'" style="font-size:1.6rem;">{{order.iscooked==1?'已':'未'}}出餐</button>
            <button ion-button clear item-end color='gray' icon-start><ion-icon name="ios-arrow-forward"></ion-icon></button>
          </ion-item>
        </div>
        </ion-list>


      </ion-col>
      
    </ion-row>
  </ion-grid>



</ion-content>