
ion-header{
  font-family: 'TitleFont';
}
.tab-button{
  min-height: 4rem !important;
}
ion-navbar{
  min-height: 1rem !important;
}
.footer-md::before{
  background-image: none !important;
}


.bgimg2{
  background-image: url("../assets/imgs/logo.png"),url("../assets/imgs/POS_BG1.png"),url("../assets/imgs/bg.jpeg");
  background-repeat: no-repeat,no-repeat,no-repeat;
  background-position: right bottom,left bottom;
  background-size: 15%,30%,100% 100%;
}
.bgimg3{
  background-image: url("../assets/imgs/logo.png"),url("../assets/imgs/bg.jpeg");
  background-repeat: no-repeat,no-repeat;
  background-position: right bottom;
  background-size: 13%,100% 100%;
}

.shadow{text-shadow: gray 0.05em 0.05em 0.05em}
.shadow2{text-shadow: white 0.05em 0.05em 0.05em}
.shadow3{text-shadow: red 0.05em 0.05em 0.05em}
